.job-details-container {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
  }
  .back-link {
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
    background-color: #E0E0E0;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 5px;
  }
  .job-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .company-logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  .job-title {
    flex-grow: 1;
  }
  .job-title h1 {
    font-size: 24px;
    margin: 0;
    text-align: left;
  }
  .tags {
    margin-top: 10px;
  }
  .tag {
    display: inline-block;
    background-color: #E0E0E0;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
  }
  .job-meta p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  .job-description, .job-responsibilities {
    margin-top: 20px;
  }
  .job-description h2, .job-responsibilities h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .job-responsibilities ul {
    list-style: disc;
    padding-left: 20px;
  }
  .job-responsibilities li {
    margin-bottom: 5px;
  }
