<div *ngIf="favoriteJobs.length === 0" class="no-favorites-message">
    <p>No favorites selected.</p>
  </div>
<ul class="job-list">
    <li *ngFor="let favorite of favoriteJobs" class="job-item">
        <img [src]="favorite.companyLogo" alt="{{ favorite.companyName }}" class="job-logo">
        <div class="job-details">
            <a [routerLink]="['/jobs', favorite.id]"> <span class="position">{{ favorite.title }}</span></a>
            <div>
                <span class="company">Company: {{ favorite.companyName }}</span>&nbsp;
                <span class="reference">Reference: {{ favorite.reference }}</span>
            </div>
        </div>
    </li>
</ul>